<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dtt.mapper.map.DBMapper">

	<resultMap type="com.example.dtt.domain.entity.map.DB" id="DBResult">
		<result property="dbId"     column="DB_ID"    />
		<result property="dbName"     column="NAME"    />
	</resultMap>

	<sql id="selectDBVo">
		select DB_ID,NAME from DBS
	</sql>

	<select id="selectDBList" parameterType="com.example.dtt.domain.entity.map.DB" resultMap="DBResult">
		<include refid="selectDBVo"/>
		where 1=1
		<if test="dbName != null and dbName != ''">
			AND NAME like concat('%', #{dbName}, '%')
		</if>
	</select>

</mapper>
