<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dtt.mapper.map.TableMapper">

	<resultMap type="com.example.dtt.domain.entity.map.Table" id="TableResult">
		<result property="tableId"     column="TBL_ID"    />
		<result property="dbId"     column="DB_ID"    />
		<result property="dbName"     column="name"    />
		<result property="tableName"     column="tbl_name"    />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="remark"   column="tbl_comment"  />
	</resultMap>

	<sql id="selectTableVo">
		select t.TBL_ID,t.DB_ID,d.`NAME`,CONCAT(d.`NAME`,'.',t.TBL_NAME) as tbl_name,t.`OWNER` as create_by,FROM_UNIXTIME(t.CREATE_TIME) as create_time,PARAM_VALUE as tbl_comment from TBLS t
		inner join DBS d on t.DB_ID=d.DB_ID
		left join (select TBL_ID,PARAM_VALUE from TABLE_PARAMS where PARAM_KEY='comment') p  on t.tbl_id = p.TBL_ID
	</sql>

	<select id="selectTableList" parameterType="com.example.dtt.domain.entity.map.Table" resultMap="TableResult">
		select t.TBL_ID,t.DB_ID,d.`NAME`,CONCAT(d.`NAME`,'.',t.TBL_NAME) as tbl_name,t.`OWNER` as create_by,FROM_UNIXTIME(t.CREATE_TIME) as create_time,PARAM_VALUE as tbl_comment from TBLS t
		inner join DBS d on t.DB_ID=d.DB_ID
		left join (select TBL_ID,PARAM_VALUE from TABLE_PARAMS where PARAM_KEY='comment') p  on t.tbl_id = p.TBL_ID
		inner join (
		select TBL_ID,COLUMN_NAME,TYPE_NAME,COMMENT from COLUMNS_V2 a
		INNER JOIN SDS b on a.CD_ID = b.CD_ID
		INNER JOIN TBLS c on b.SD_ID = c.SD_ID
		) c on t.TBL_ID = c.TBL_ID
		where 1=1
		<if test="tableId != null and tableId != ''">
			AND t.TBL_ID = #{tableId}
		</if>
		<if test="tableName != null and tableName != ''">
			AND CONCAT(IFNULL(d.`NAME`,''),'.',IFNULL(t.TBL_NAME,''),IFNULL(PARAM_VALUE,''),IFNULL(c.COLUMN_NAME,''),IFNULL(c.COMMENT,'')) LIKE CONCAT('%', #{tableName},'%')
		</if>
		<if test="dbId != null and dbId != '' ">
			AND t.DB_ID = #{dbId}
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="tableListBydbId" parameterType="Long" resultMap="TableResult">
		select t.TBL_ID,t.DB_ID, d.`NAME`,CONCAT(t.TBL_NAME,'(',t.`OWNER`,')') as tbl_name  from TBLS t
		    inner join DBS d on t.DB_ID=d.DB_ID
			where t.DB_ID = #{dbId}
	</select>

	<select id="selectTableByTableName" parameterType="String" resultMap="TableResult">
		<include refid="selectTableVo"/>
		where tbl_name = #{tableName}
	</select>

	<select id="selectByTableId" parameterType="Long" resultMap="TableResult">
		<include refid="selectTableVo"/>
		where t.TBL_ID = #{tableId}
	</select>

</mapper>
