<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dtt.mapper.tableau.UserProjectMapper">

	<resultMap type="SysUserProject" id="SysUserProjectResult">
		<result property="userId"     column="user_id"      />
		<result property="projectId"     column="tableau_project_id"      />
	</resultMap>

	<insert id="batchUserProject">
		insert into user_tableau_project(user_id, tableau_project_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.projectId})
		</foreach>
	</insert>

	<delete id="deleteUserProjectByUserId" parameterType="Long">
		delete from user_tableau_project where user_id=#{userId}
	</delete>

	<delete id="deleteUserProjectById" parameterType="Long">
		delete from user_tableau_project where tableau_project_id=#{item.projectId}
	</delete>

	<delete id="deleteUserProjectByIds" parameterType="Long">
		delete from user_tableau_project where tableau_project_id in
		<foreach collection="array" item="item.projectId" open="(" separator="," close=")">
			#{item.projectId}
		</foreach>
	</delete>

</mapper>
