<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dtt.mapper.tableau.UserWorkbookMapper">

	<resultMap type="SysUserWorkbook" id="SysUserWorkbookResult">
		<result property="userId"     column="user_id"      />
		<result property="workbookId"     column="tableau_workbook_id"      />
	</resultMap>

	<insert id="batchUserWorkbook">
		insert into user_tableau_workbook(user_id, tableau_workbook_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.workbookId})
		</foreach>
	</insert>

	<delete id="deleteUserWorkbookByUserId" parameterType="Long">
		delete from user_tableau_workbook where user_id=#{userId}
	</delete>

	<delete id="deleteUserWorkbookById" parameterType="Long">
		delete from user_tableau_workbook where tableau_workbook_id=#{item.workbookId}
	</delete>

	<delete id="deleteUserWorkbookByIds" parameterType="Long">
		delete from user_tableau_workbook where tableau_workbook_id in
		<foreach collection="array" item="item.workbookId" open="(" separator="," close=")">
			#{item.workbookId}
		</foreach>
	</delete>

</mapper>
